.btn-home
  margin-top: 20px
  font-weight: bold
  &:hover
    color: #3498db

.tab-btn-wrapper
  margin-top: 25px
  margin-left: 16px
  .tab-btn
    width: 160px
    height: 44px
    background-color: #fff
    padding: 5px 20px
    border: 1px solid #c4c7c7
    cursor: pointer
    border-bottom: none

.tab-content
  box-shadow: 0 0 8px 2px rgb(0 0 0 / 10%)
  padding: 16px
  background-color: #fff
  .input-config
    width: 300px
    margin-left: 10px
    margin-top: 10px
    input
      width: 100%
  .input-config.full-width
    width: unset
  .kintoneplugin-flex
    display: flex
    align-items: flex-end
    .btn-get-members
      margin-left: 15px
  .btn-action
    margin-right: 15px
  .disabled
    background-color: #d8d8d8
    border: none
    box-shadow: unset
    color: #fff
    &:hover
      background-color: #d8d8d8
  .notes
    font-style: italic
    margin-top: 15px
    color: #CF0000
  .react-select-dropdown
    .css-yk16xz-control, .css-1pahdxg-control
      height: 48px
    .css-1pahdxg-control
      border-radius: 0px
      border-color: hsl(0, 0%, 80%)
      box-shadow: unset
      .css-1uccc91-singleValue
        color: #3498db
      .css-1okebmr-indicatorSeparator
        width: unset
      .css-tlfecz-indicatorContainer
        color: #3498db
    .css-yk16xz-control
      background-color: #f7f9fa
      border-radius: 0px
      .css-1wa3eu0-placeholder
        color: #3498db
      .css-1okebmr-indicatorSeparator
        width: unset
      .css-tlfecz-indicatorContainer
        color: #3498db