.folder-name
  margin-right: 15px
  flex-grow: 1

.btn-set-folder
  border: 1px solid #e3e7e8
  padding: 5px 15px
  background-color: #3498db
  color: #fff

.list-item
  justify-content: space-between

.items-wrapper
  right: unset
  bottom: 0
  top: unset

.dropdown-button-wrapper
  button.dropdown-button
    min-width: 300px
    text-align: left
    justify-content: flex-start
    border-radius: unset
    background-color: #f7f9fa
    height: 48px
    border: 1px solid hsl(0, 0%, 80%)
